/* 清除默认样式 */
*{
	margin: 0;
	padding: 0;
}
.main{
	width: 100%;
	height: 100vh;
	background: url(../img/205111.png);
	background-size: 100% 100%;
	overflow: hidden;
	position: relative;
}
.title{
	color: #AAAAFF;
	height: auto;
	margin: 25px;
	text-align: center;
	font-size: 50px;
}
.imp{
	width: 100%;
	height: 45px;
	/* background-color: #FF0000; */
	line-height: 45px;
	font-size: 25px;
	text-align: center;
	color: cornflowerblue;
	
}
.circle{
	position: absolute;
	left: 28%;
	bottom: 7%;
	animation: rotate 12s linear infinite;
	z-index: 1;
}
@keyframes rotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
.face{
	position: absolute;
	left: 42%;
	bottom: 26%;
	cursor: pointer;
	
}
.circle>img{
	cursor: pointer;
}
.time{
	text-align: right;
	font-weight: bold;
	width: 40%;
	height: 60px;
	line-height: 60px;
	position: fixed;
	right: 0;
	top: 2px;
	color: white;
}
 #canvas,#video{ 
	width: 700px;
	height: 700px;
	position: absolute;                
	top:15%;                
	left: 35%;                
	object-fit: fill;                
	border-radius: 50%; 
	border: 2px solid red;
	z-index: 99;
}       







